<div class="flex justify-content-center">
    <h2 class="mb-0 mt-0">Nueva Operación</h2>
</div>

<!-- Botón Atras -->
<div class="flex mb-5">
    <a [routerLink]="['/requerido']">
        <p-button icon="pi pi-chevron-left" styleClass="p-button-sm">
        </p-button>
    </a>
</div>

<!-- DropDown -->
<div class="card flex justify-content-start mb-3">
    <p-dropdown [options]="tramites" [(ngModel)]="selectedTramite" optionLabel="name"></p-dropdown>
</div>

<h3 class="mt-0 mb-0">Funcionario</h3>
<hr class="mb-3">

<div class="grid flex-wrap">
    <div class="col-12 md:col-3">
        <div class="flex flex-column gap-2">
            <label htmlFor="fecha">Fecha</label>
            <input pInputText [value]="reprogramacion.fechaOperacion" readonly id="fecha" class="p-inputtext-sm" />
            <small id="fecha-help"></small>
        </div>
    </div>
    <div class="col-12 md:col-2">
        <div class="flex flex-column gap-2">
            <label htmlFor="hora">Hora</label>
            <input pInputText [value]="reprogramacion.hora" readonly id="hora" class="p-inputtext-sm" />
            <small id="hora-help"></small>
        </div>
    </div>
    <div class="col-12 md:col-2">
        <div class="flex flex-column gap-2">
            <label htmlFor="funcionario-id">ID Funcionario</label>
            <input pInputText [value]="reprogramacion.funcionario.id" readonly id="funcionario-id"
                class="p-inputtext-sm" />
            <small id="funcionario-id-help"></small>
        </div>
    </div>
    <div class="col-12 md:col-5">
        <div class="flex flex-column gap-2">
            <label htmlFor="funcionario-nombre">Nombre</label>
            <input pInputText [value]="reprogramacion.funcionario.nombre" readonly id="funcionario-nombre"
                class="p-inputtext-sm" />
            <small id="funcionario-nombre-help"></small>
        </div>
    </div>
</div>

<h3 class="mt-0 mb-0">Reprogramación</h3>
<hr class="mb-3">

<div class="grid">
    <div class="col-12 md:col-3">
        <div class="flex flex-column gap-2">
            <label htmlFor="reprogramacion-fecha">Fecha</label>
            <input pInputText [value]="reprogramacion.fechaReprogramacion" readonly id="reprogramacion-fecha"
                class="p-inputtext-sm" />
            <small id="reprogramacion-fecha-help"></small>
        </div>
    </div>

    <div class="col-12 md:col-9">
        <div class="flex flex-column gap-2">
            <label htmlFor="reprogramacion-descripcion">Descripción</label>
            <input pInputText [value]="reprogramacion.descripcion" readonly id="reprogramacion-descripcion"
                class="p-inputtext-sm" />
            <small id="reprogramacion-descripcion-help"></small>
        </div>
    </div>
</div>


<div class="grid">
    <div class="col-12">
        <div class="flex flex-column gap-2">
            <label htmlFor="reprogramacion-documento">Documento</label>
            <input pInputText [value]="reprogramacion.documento" readonly id="reprogramacion-documento"
                class="p-inputtext-sm" />
            <small id="reprogramacion-documento-help"></small>
        </div>
    </div>
</div>

<h3 class="mt-0 mb-0">Imagenes</h3>
<hr class="mb-3">
<!-- Imagenes -->
<div class="grid flex-wrap mt-3">
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="flex flex-column align-items-center">
            <h4 class="text-center mb-1 mt-0">Certificado de nacimiento original</h4>
            <p-image src="./assets/doc0.jpg" alt="Image" width="250" [preview]="true"></p-image>
            <p class="text-center text-truncate mb-0 mt-1">02-13-2023</p>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="flex flex-column align-items-center">
            <h4 class="text-center mb-1 mt-0">Fotocopia Legalizada Titulo</h4>
            <p-image src="./assets/doc1.jpg" alt="Image" width="250" [preview]="true"></p-image>
            <p class="text-center text-truncate mb-0 mt-1">02-13-2023</p>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="flex flex-column align-items-center">
            <h4 class="text-center mb-1 mt-0">Certificado de nacimiento original</h4>
            <p-image src="./assets/doc1.jpg" alt="Image" width="250" [preview]="true"></p-image>
            <p class="text-center text-truncate mb-0 mt-1">02-13-2023</p>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="flex flex-column align-items-center">
            <h4 class="text-center mb-1 mt-0">Certificado de nacimiento original</h4>
            <p-image src="./assets/doc0.jpg" alt="Image" width="250" [preview]="true"></p-image>
            <p class="text-center text-truncate mb-0 mt-1">02-13-2023</p>
        </div>
    </div>
</div>