<div *ngIf="!guardando else spinner">
    <div class="grid">

        <div class="col-12 md:col-6 field" style="padding-top: 2rem; ">
            <span appearance="outline" class="p-float-label">
                <p-dropdown [options]="carrera" optionLabel="nombre" [filter]="true" filterBy="nombre"
                    [showClear]="true" optionValue="id" id="float-input" styleClass="w-full">
                </p-dropdown>
                <label for="float-input">Carreras</label>
            </span>
        </div>
        <!-- <div class="col-12 md:col-6 field" style="padding-top: 2rem;">
            <span appearance="outline" class="p-float-label">

                <p-dropdown [options]="ltramite" [(ngModel)]="tramite" placeholder="Tramites" [editable]="true"
                    optionLabel="nombreCorto" class="w-full"></p-dropdown>
                <label for="float-input">Tramites</label>
            </span>

        </div> -->
        <div class="col-12 md:col-6 field" style="padding-top: 2rem;">
            <span appearance="outline" class="p-float-label">
                <p-dropdown [options]="ltramite" placeholder="Select a City" [group]="true">
                    <ng-template let-group pTemplate="group">
                        <div class="flex align-items-center">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
                            <span>{{ group.nombre }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <label for="float-input">Tramites</label>
            </span>

        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <p-card *ngIf="tabla">
                <p-table [value]="listadocument" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nombre documento</th>
                            <th>Tipo de documento</th>
                            <th>Cantidad mínima</th>
                            <th>Plazo maximo</th>
                            <th>Eliminar</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td style="width: 55%;">
                                <p-dropdown [options]="tipodocumento" optionLabel="nombre" [filter]="true"
                                    filterBy="nombre" [showClear]="true" optionValue="documentoTipoId" id="float-input"
                                    [(ngModel)]="product.documentoTipoId" class="prueba"
                                    (onChange)="nombredoc(product.documentoTipoId)" [title]="nombredocs">
                                </p-dropdown>
                            </td>
                            <td>

                                <p-dropdown [options]="estadoPlantilla" optionLabel="nombre" [filter]="true"
                                    filterBy="nombre" [showClear]="true" optionValue="estadoId" id="float-input"
                                    styleClass="w-full" [(ngModel)]="product.estadoId">
                                </p-dropdown>
                            </td>
                            <td style="text-align: center;">

                                <p-inputNumber inputId="integeronly" [(ngModel)]="product.cantidadMinima">
                                </p-inputNumber>
                            </td>
                            <td style="text-align: center;">

                                <p-inputNumber inputId="integeronly" [(ngModel)]="product.plazoMaximo"
                                    (ngModelChange)="agregarElemento()"> </p-inputNumber>días
                            </td>

                        </tr>

                    </ng-template>
                </p-table>
            </p-card>
            <button pButton pRipple type="button" [icon]="'pi pi-plus'"
                class="p-button-rounded btn-float p-button-primary btn-save" (click)="agregarElemento()"
                title="Agregar Plantilla"></button>
        </div>
    </div>



</div>

<ng-template #spinner>
    <div class="w-full text-center" style="padding-top: 100px;">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>