<div class="flex justify-content-center">
    <h2 class="mb-0 mt-0">Documentos Presentados</h2>
</div>

<div class="flex mb-5">
    <a [routerLink]="['/operacion']">
        <p-button icon="pi pi-chevron-left" styleClass="p-button-sm">
        </p-button>
    </a>
</div>

<h3 class="mt-0 mb-0">Funcionario</h3>
<hr class="mb-3">

<div class="grid flex-wrap">
    <div class="col-12 md:col-3">
        <div class="flex flex-column gap-2">
            <label htmlFor="fecha">Fecha</label>
            <input pInputText [value]="documento.operacion.fecha" readonly id="fecha" class="p-inputtext-sm" />
            <small id="fecha-help"></small>
        </div>
    </div>
    <div class="col-12 md:col-2">
        <div class="flex flex-column gap-2">
            <label htmlFor="hora">Hora</label>
            <input pInputText [value]="documento.operacion.hora" readonly id="hora" class="p-inputtext-sm" />
            <small id="hora-help"></small>
        </div>
    </div>
    <div class="col-12 md:col-2">
        <div class="flex flex-column gap-2">
            <label htmlFor="funcionario-id">ID Funcionario</label>
            <input pInputText [value]="documento.funcionario.id" readonly id="funcionario-id" class="p-inputtext-sm" />
            <small id="funcionario-id-help"></small>
        </div>
    </div>
    <div class="col-12 md:col-5">
        <div class="flex flex-column gap-2">
            <label htmlFor="funcionario-nombre">Nombre</label>
            <input pInputText [value]="documento.funcionario.nombre" readonly id="funcionario-nombre"
                class="p-inputtext-sm" />
            <small id="funcionario-nombre-help"></small>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12 md:col-5">
        <div class="flex flex-column gap-2">
            <label htmlFor="operacion-nombre">Operación</label>
            <input pInputText [value]="documento.operacion.operacion" readonly id="operacion-nombre"
                class="p-inputtext-sm" />
            <small id="operacion-nombre-help"></small>
        </div>
    </div>
    <div class="col-12 md:col-7">
        <div class="flex flex-column gap-2">
            <label htmlFor="operacion-descripcion">Descripción</label>
            <input pInputText [value]="documento.operacion.descripcion" readonly id="operacion-descripcion"
                class="p-inputtext-sm" />
            <small id="operacion-descripcion-help"></small>
        </div>
    </div>
</div>

<h3 class="mt-0 mb-0">Estudiante</h3>
<hr class="mb-3">
<div class="grid">
    <div class="col-12 md:col-2">
        <div class="flex flex-column gap-2">
            <label htmlFor="estudiante-codigo">ID</label>
            <input pInputText [value]="documento.estudiante.codigo" readonly id="estudiante-codigo"
                class="p-inputtext-sm" />
            <small id="estudiante-codigo-help"></small>
        </div>
    </div>
    <div class="col-12 md:col-5">
        <div class="flex flex-column gap-2">
            <label htmlFor="estudiante-carrera">Carrera</label>
            <input pInputText [value]="documento.estudiante.carrera" readonly id="estudiante-carrera"
                class="p-inputtext-sm" />
            <small id="estudiante-carrera-help"></small>
        </div>
    </div>
    <div class="col-12 md:col-5">
        <div class="flex flex-column gap-2">
            <label htmlFor="estudiante-nombre">Nombre</label>
            <input pInputText [value]="documento.estudiante.nombreCompleto" readonly id="estudiante-nombre"
                class="p-inputtext-sm" />
            <small id="estudiante-nombre-help"></small>
        </div>
    </div>
</div>

<!-- Documentos -->
<div class="flex justify-content-between align-items-center">
    <h3 class="mt-0 mb-0">Adjuntar</h3>
    <p-button icon="pi pi-plus" label="Subir archivos" (click)="navigateToArchivos()" styleClass="p-button-sm">
    </p-button>
</div>
<hr class="mb-3">

<h3 class="mt-0 mb-0">Documentos Actuales</h3>
<hr class="mb-3">
<!-- Imagenes -->
<div class="grid flex-wrap mt-3">
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="flex flex-column align-items-center">
            <h4 class="text-center mb-1 mt-0">Certificado de nacimiento original</h4>
            <p-image src="./assets/doc0.jpg" alt="Image" width="250" [preview]="true"></p-image>
            <p class="text-center text-truncate mb-0 mt-1">02-13-2023</p>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="flex flex-column align-items-center">
            <h4 class="text-center mb-1 mt-0">Fotocopia Legalizada</h4>
            <p-image src="./assets/doc1.jpg" alt="Image" width="250" [preview]="true"></p-image>
            <p class="text-center text-truncate mb-0 mt-1">02-13-2023</p>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="flex flex-column align-items-center">
            <h4 class="text-center mb-1 mt-0">Certificado de nacimiento original</h4>
            <p-image src="./assets/doc1.jpg" alt="Image" width="250" [preview]="true"></p-image>
            <p class="text-center text-truncate mb-0 mt-1">02-13-2023</p>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
        <div class="flex flex-column align-items-center">
            <h4 class="text-center mb-1 mt-0">Certificado de nacimiento original</h4>
            <p-image src="./assets/doc0.jpg" alt="Image" width="250" [preview]="true"></p-image>
            <p class="text-center text-truncate mb-0 mt-1">02-13-2023</p>
        </div>
    </div>
</div>