<div class="flex justify-content-center">
    <h3 class="mb-0 mt-0">Documentación Requerida</h3>
</div>
<p-divider></p-divider>

<div class="flex mb-5">
    <a [routerLink]="['/estudiante']">
        <p-button icon="pi pi-chevron-left" styleClass="p-button-sm">
        </p-button>
    </a>
</div>
<!-- ComboBox HTML
  <div class="grid align-items-center justify-content-center">
    <div class="col-12 md:col-6 lg:col-4">
      <select class="form-select" aria-label="Default select example">
        <option selected>Seleccione un Trámite</option>
        <option value="1">Convalidación</option>
        <option value="2">Reprogramación</option>
        <option value="3">Defensa Externa</option>
      </select>
    </div>
  </div> -->

<!-- DropDown -->
<div class="card flex justify-content-center mb-5">
    <p-dropdown [options]="tramites" [(ngModel)]="selectedTramite" optionLabel="name"></p-dropdown>
</div>

<p-card>
    <div class="grid mt-2">
        <div class="col-12">
            <p-table [value]="documentosRequeridos" responsiveLayout="scroll"
                [tableStyle]="{ 'min-width': '50rem', 'width': '100%' }"
                styleClass="p-datatable p-component p-datatable-sm">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 10%;">Nro</th>
                        <th>Documento</th>
                        <th>Cantidad</th>
                        <th>Estado</th>
                        <th style="width: 10%;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns">
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.documento }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td><p-tag [value]="item.estado" [severity]="getSeverity(item.estado)"></p-tag></td>
                        <td style="text-align: center;">
                            <i class="pi pi-plus" style="font-size: 1rem; cursor: pointer;"
                                [routerLink]="['/tramite', item.id, 'estudiante', item.id, 'reprogramacion']">
                            </i>
                            <i class="pi pi-search ml-3" style="font-size: 1rem; cursor: pointer;"
                                [routerLink]="['/tramite/operacion']">
                            </i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>