<div class="grid">
    <div class="col-12 md:col-12">
      <span class="text-900 font-semibold mr-2">Nombre del Sub Trámite:</span>
      <span class="font-medium"></span>
    </div>
  </div>
  
  <div class="grid">
    <div class="col-12 md:col-4">
      <div class="flex flex-column gap-2">
        <label htmlFor="documentoTipos">Documento Tipo</label>
        <p-dropdown [options]="documentoTipos" [(ngModel)]="documentoTipoSelected" optionLabel="nombre"
          class="p-inputtext-sm"></p-dropdown>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="flex flex-column gap-2">
        <label htmlFor="documentoPlanillaEstados">Documento Plantilla Estado :</label>
        <p-dropdown [options]="documentoPlanillaEstados" [(ngModel)]="documentoPlanillaEstadoSelected"
          optionLabel="nombre" class="p-inputtext-sm"></p-dropdown>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="flex flex-column gap-2">
        <label htmlFor="carreras">Carreras :</label>
        <p-dropdown [options]="carreras" [(ngModel)]="carreraSelected" optionLabel="nombre"
          class="p-inputtext-sm"></p-dropdown>
      </div>
    </div>
  </div>
  
  <div class="grid">
    <div class="col-12 md:col-3">
      <div class="flex flex-column gap-2">
        <label htmlFor="cantidadMinima">Cantidad Minima</label>
        <input pInputText [(ngModel)]="cantidadMinima" id="cantidadMinima" class="p-inputtext-sm" />
        <small id="cantidadMinima-help"></small>
      </div>
    </div>
    <div class="col-12 md:col-3">
      <div class="flex flex-column gap-2">
        <label htmlFor="plazoMaximo">Plazo maximo :</label>
        <input pInputText [(ngModel)]="plazoMaximo" id="plazoMaximo" class="p-inputtext-sm" />
        <small id="plazoMaximo-help"></small>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="flex flex-column gap-2">
        <label htmlFor="obligatorio">Obligatorio :</label>
        <input pInputText [(ngModel)]="obligatorio" id="obligatorio" class="p-inputtext-sm" />
        <small id="obligatorio-help"></small>
      </div>
    </div>
  </div>
  
  <div class="card flex justify-content-end">
    <p-button label="Submit" [loading]="savedLoading" (click)="guardarPlantilla()"></p-button>
  </div>
  <p-toast></p-toast>