<app-tramite-header [estudiante]="estudiante" [inscripcion]="inscripcion" [tramite]="tramite">
</app-tramite-header>

<app-tramite-faltante [documentosFaltantes]="documentosFaltantes"
  (getDocumentoSeleccionado)="setDocumentoSeleccionado($event)">
</app-tramite-faltante>

<app-tramite-presentado [documentos]="documentos">
</app-tramite-presentado>

<!-- Formulario de documentos -->
<p-dialog *ngIf="documentosFaltantes.length > 0" header="Registrar Documentos" [(visible)]="visibleDocumentoSave"
  [style]="{width: '90vw', height :'100vh'}">
  <app-documento-form (cerrarDialogModal)="cerrarDialogModal()"></app-documento-form>
</p-dialog>
<p-toast></p-toast>