.containerSPinn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.containerSPinn .loader {
    max-width: 5rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
}

.containerSPinn .loader circle {
    fill: none;
    stroke-width: 6;
    animation-name: preloader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 170px 170px;
    will-change: transform;
}

.containerSPinn .loader circle :nth-of-type(1) {
    stroke-dasharray: 550px;
}

.containerSPinn .loader circle:nth-of-type(2) {
    stroke-dasharray: 500px;
}

.containerSPinn .loader circle:nth-of-type(3) {
    stroke-dasharray: 450px;
}

.containerSPinn .loader circle:nth-of-type(4) {
    stroke-dasharray: 300px;
}

@for $i from 1 through 4 {
    .containerSPinn .loader circle:nth-of-type(#{$i}) {
        animation-delay: -#{$i * 0.15}s;
    }
}

@keyframes preloader {
    50% {
        transform: rotate(360deg);
    }
}