<div *ngIf="documento == null">
  <h3 class="text-700">Seleccionar un documento</h3>
</div>

<!-- Tramite inscripcion -->
<div *ngIf="documento" class="grid">
  <div class="col-12 md:col-8">
    <span class="text-900 font-semibold mr-2">Trámite Sub Tipo:</span>
    <span class="font-medium">{{ documento.nombreTramiteSubTipo }}</span>
  </div>
  <div class="col-12 md:col-4">
    <span class="text-900 font-semibold mr-2">Fecha Registro:</span>
    <span class="font-medium">{{ documento.fechaRegistro }}</span>
  </div>
</div>

<!-- Formulario de operaciones -->
<div *ngIf="documento">
  <div class="flex justify-content-between">
    <h3 class="text-700">Registrar Operación</h3>
    <div>
      <p-button label="New" (click)="nuevaOperacion()" styleClass="p-button-secondary" class="mr-2"></p-button>
      <p-button label="Submit" [loading]="savedLoading" (click)="guardarOperacion()"></p-button>
    </div>
  </div>

  <div class="grid mt-2">
    <div class="col-12 md:col-4">
      <span class="text-900 font-semibold mr-2">Fechan Operación:</span>
      <span class="font-medium"> {{ fechaOperacion | date:'dd/MM/yyyy' }}</span>
    </div>
    <div class="col-12 md:col-8">
      <span class="text-900 font-semibold mr-2">Funcionario:</span>
      <span class="font-medium"> {{ funcionarioId }}</span>
    </div>
  </div>

  <div class="grid">
    <div class="col-12 md:col-4">
      <div class="flex flex-column gap-2">
        <label htmlFor="tipo-operacion">Tipo de Operación :</label>
        <p-dropdown [options]="documentoOperacionTipos" (onChange)="setSelectedDocumentoOperacionTipo($event)"
          [(ngModel)]="documentoOperacionTipoSelected" optionLabel="nombre" class="p-inputtext-sm"></p-dropdown>
      </div>
    </div>
    <div class="col-12 md:col-8">
      <div class="flex flex-column gap-2">
        <label htmlFor="descripcion">Descripción :</label>
        <input pInputText [(ngModel)]="descripcion" id="descripcion" class="p-inputtext-sm" />
        <small id="descripcion-help"></small>
      </div>
    </div>
  </div>

  <h3 class="mt-0 mb-0 text-700">Subir imagen/archivo</h3>
  <div class="grid flex-wrap mt-3">
    <div class="col-12 md:col-6 lg:col-4">
      <div class="flex flex-column align-justify-center">
        <app-dragndrop (fileDropped)="setUri($event)" [tipeAccept]="'.jpg,.png,.gif,.pdf'"></app-dragndrop>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
