<!-- Tramite inscripcion -->
<div *ngIf="documento == null">
  <h3 class="text-700">Seleccionar un documento</h3>
</div>

<!-- -->
<div *ngIf="documento" class="grid">
  <div class="col-12 md:col-8">
    <span class="text-900 font-semibold mr-2">Trámite sup tipo:</span>
    <span class="font-medium">{{ documento.nombreTramiteSubTipo }}</span>
  </div>
  <div class="col-12 md:col-4">
    <span class="text-900 font-semibold mr-2">Fecha:</span>
    <span class="font-medium">{{ documento.fechaRegistro }}</span>
  </div>
</div>

<!-- Formulario de operaciones -->
<div *ngIf="documento">
  <div class="grid mt-2">
    <div class="col-12 md:col-5">
      <div class="flex flex-column gap-2">
        <label htmlFor="funcionario">Funcionario</label>
        <input pInputText [value]="operacion?.funcionarioId" readonly id="funcionario" class="p-inputtext-sm" />
        <small id="funcionario-help"></small>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="col-12 md:col-2">
      <div class="flex flex-column gap-2">
        <label htmlFor="fecha">Fecha</label>
        <input pInputText [value]="operacion?.fechaOperacion" readonly id="fecha" class="p-inputtext-sm" />
        <small id="fecha-help"></small>
      </div>
    </div>
    <div class="col-12 md:col-5">
      <div class="flex flex-column gap-2">
        <label htmlFor="tipo-operacion">Tipo de Operacion</label>
        <input pInputText [value]="operacion?.nombreDocumentoOperacionTipo" readonly id="tipo-operacion"
          class="p-inputtext-sm" />
        <small id="tipo-operacion-help"></small>
      </div>
    </div>
    <div class="col-12 md:col-5">
      <div class="flex flex-column gap-2">
        <label htmlFor="descripcion">Descripcion</label>
        <input pInputText [value]="operacion?.descripcion" readonly id="descripcion" class="p-inputtext-sm" />
        <small id="descripcion-help"></small>
      </div>
    </div>
  </div>

  <h3 class="mt-0 mb-0 text-700">Subir imagen/archivo</h3>
  <div class="grid flex-wrap mt-3">
    <div class="col-12 md:col-6 lg:col-4">
      <div class="flex flex-column align-justify-center">
        <app-dragndrop [tipeAccept]="'.jpg,.png,.gif,.pdf'"></app-dragndrop>
      </div>
    </div>
  </div>

</div>