
<div class="container full-width" appDnd (fileDropped)="onFileDropped($event)"
[ngClass]="{'color-black': !(themeState$ | async)!.darkMode}">
<div *ngIf="!isUpload else spinner">
  <input type="file" #fileDropRef id="fileDropRef" [accept]="tipeAccept"
  (change)="fileBrowseHandler($event.target)" />
  <!-- pdf -->
  <div *ngIf="uri != '' && uri.endsWith('.pdf')" class="flex align-items-center justify-content-center m-3">
    <div style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
      <a href="{{uri}}" target="_blank"><i class="pi pi-file-pdf" style="font-size: 100px"></i></a>
    </div>
  </div>
    <!-- image -->
    <img [src]="uri" *ngIf="uri != '' && !uri.endsWith('.pdf')" class="img">
    <p class="mt-0 mb-0">Tamaño mínimo de imagen {{ maxSizeMB }} MB</p>
    <p *ngIf="message.length > 0" [ngStyle]="{color: 'var(--red-500)'}">{{ message }}</p>
    <h3 class="mt-0">Arrastrar y soltar {{nameFile}} aquí</h3>
    <button pButton pRipple type="button" label="Buscar archivos en el equipo" for="fileDropRef"
      class="p-button p-button-rounded p-button-danger w-full"></button>
  </div>
  <ng-template #spinner>
    <p class="text-center"> {{ porcentajeProgreso }} %</p>
    <p-progressBar [value]="porcentajeProgreso"></p-progressBar>
  </ng-template>
</div>
