<!-- Tramite inscripcion  -->
<div *ngIf="tramite == null">
  <h3 class="text-700">Seleccionar un tramite</h3>
</div>

<!-- -->
<div *ngIf="tramite" class="grid">
  <div class="col-4">
    <span class="text-900 font-semibold mr-2">Nombre del Tramite:</span>
    <span class="font-medium">{{ tramite?.tramite | titlecase }} {{ tramite?.subTipoTramite  | titlecase }} </span>
  </div>
  <!-- <div class="col-5">
    <span class="text-900 font-semibold mr-2">Tramite Sub Tipo:</span>
    <span class="font-medium">{{ tramite?.subTipoTramite }}</span>
  </div> -->
  <div class="col-3">
    <span class="text-900 font-semibold mr-2">Fecha:</span>
    <span class="font-medium"></span>
  </div>
</div>

<!-- Tabla de tramite inscripcion -->
<div *ngIf="documentos.length == 0">
  <h3 class="text-700">Sin documentos presentados</h3>
</div>

<!-- -->
<div *ngIf="documentos.length > 0">
  <h3 class="mb-0 mt-2 text-700">Documentos inscripcion</h3>
  <div class="grid mt-2 mb-3">
    <div class="col-12">
      <p-table [value]="documentos" responsiveLayout="scroll" [tableStyle]="{ 'min-width': '50rem', 'width': '100%' }"
        styleClass="p-datatable p-component p-datatable-sm" [paginator]="true" [rows]="4">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Tramite sup tipo</th>
            <th>Documento Tipo</th>
            <th>Cantidad</th>
            <th>Documento estado</th>
            <th>Fecha limite</th>
            <th>Fecha registro</th>
            <th style="width: 7%;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documentoItem let-columns="columns">
          <tr [ngClass]="{'table-row-select': documentoItem.documentoInscripcionCarreraId === documento?.documentoInscripcionCarreraId || 0 }">
            <td>{{ documentoItem.nombreTramiteSubTipo}}</td>
            <td>{{ documentoItem.nombreDocumentoTipo }}</td>
            <td>{{ documentoItem.cantidad }}</td>
            <td>{{ documentoItem.nombreDocumentoEstado}}</td>
            <td>{{ documentoItem.fechaLimitedeEntrega }}</td>
            <td>{{ documentoItem.fechaRegistro }}</td>
            <td style="text-align: center;">
              <p-button (onClick)="getOperaciones(documentoItem)" icon="fa-solid fa-folder-open"
                styleClass="p-button-rounded">
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- Listado de operaciones -->
<div *ngIf="operaciones.length > 0">
  <h3 class="text-700">Operaciones realizadas</h3>
  <div class="grid mt-2">
    <div class="col-12">
      <p-table [value]="operaciones" [tableStyle]="{ 'min-width': '50rem', 'width': '100%' }"
        styleClass="p-datatable p-component p-datatable-sm" responsiveLayout="scroll" [paginator]="true" [rows]="4">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 7%;">Nº</th>
            <th>Operación</th>
            <th>Funcionario</th>
            <th>Fecha Operacion</th>
            <th>Estado</th>
            <th>Descripcion</th>
            <!-- <th style="width: 7%;"></th> -->
            <th style="text-align: center;">Presentados</th>
            <th style="text-align: center;">Subir</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-operacionItem let-columns="columns">
          <tr [ngClass]="{'table-row-select': operacionItem.documentoOperacionTipoId === operacion?.documentoOperacionTipoId || 0 }">
            <td>{{ operacionItem.documentoOperacionTipoId }}</td>
            <td>{{ operacionItem.nombreDocumentoOperacionTipo }}</td>
            <td>{{ operacionItem.funcionarioId}}</td>
            <td>{{ operacionItem.fechaOperacion }}</td>
            <td>{{ operacionItem.estado }}</td>
            <td>{{ operacionItem.descripcion }}</td>
            <td style="text-align: center;">
              <i class="fa-solid fa-list"
                [routerLink]="['/tramite', operacionItem.id, 'estudiante', operacionItem.id, 'documento']"
                style="font-size: 1rem; cursor: pointer;">
              </i>
            </td>
            <td style="text-align: center;">
              <p-button (onClick)="getoperacion(operacionItem)" icon="fa-solid fa-folder-open"
                styleClass="p-button-rounded">
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- Formulario -->
<div *ngIf="documentos.length > 0">
  <h3 class="text-700">Registrar documentos</h3>
  <div class="grid">
    <div class="col-12 md:col-6">
      <div class="flex flex-column gap-2">
        <label htmlFor="tramite-subtipo">Tramite sub Tipo</label>
        <input pInputText [value]="" readonly id="tramite-subtipo" class="p-inputtext-sm" />
        <small id="tramite-subtipo-help"></small>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="flex flex-column gap-2">
        <label htmlFor="documento-tipo">Documento tipo</label>
        <input pInputText [value]="" readonly id="documento-tipo" class="p-inputtext-sm" />
        <small id="documento-tipo-help"></small>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="flex flex-column gap-2">
        <label htmlFor="cantidad">Cantidad</label>
        <input pInputText [value]="" readonly id="cantidad" class="p-inputtext-sm" />
        <small id="cantidad-help"></small>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="col-12 md:col-6">
      <div class="flex flex-column gap-2">
        <label htmlFor="documento-estado">Documento estado</label>
        <input pInputText [value]="" readonly id="documento-estado" class="p-inputtext-sm" />
        <small id="documento-estado-help"></small>
      </div>
    </div>
    <div class="col-12 md:col-3">
      <div class="flex flex-column gap-2">
        <label htmlFor="fecha-limite">Fecha limite</label>
        <input pInputText [value]="" readonly id="fecha-limite" class="p-inputtext-sm" />
        <small id="fecha-limite-help"></small>
      </div>
    </div>
    <div class="col-12 md:col-3">
      <div class="flex flex-column gap-2">
        <label htmlFor="fecha-registro">Fecha de registro</label>
        <input pInputText [value]="" readonly id="fecha-registro" class="p-inputtext-sm" />
        <small id="fecha-registro-help"></small>
      </div>
    </div>
  </div>

  <h3 class="mt-0 mb-0">Subir imagen/archivo</h3>
  <div class="grid flex-wrap mt-3">
    <div class="col-12 md:col-6 lg:col-4">
      <div class="flex flex-column align-justify-center">
        <app-dragndrop [tipeAccept]="'.jpg,.png,.gif,.pdf'"></app-dragndrop>
      </div>
    </div>
  </div>

</div>