<!-- Tramite inscripcion  -->
<div *ngIf="tramite == undefined">
  <h3 class="text-700">Seleccionar un trámite</h3>
</div>

<div *ngIf="tramite" class="grid">
  <div class="col-12 md:col-9">
    <span class="text-900 font-semibold mr-2">Nombre del Trámite:</span>
    <span class="font-medium">{{ tramite.tramite | titlecase }} {{ tramite.subTipoTramite | titlecase }} </span>
  </div>
  <div class="col-12 md:col-3">
    <span class="text-900 font-semibold mr-2">Fecha:</span>
    <span class="font-medium"> {{ tramite.fechaRegistro | date:'dd/MM/yyyy' }}</span>
  </div>
</div>

<!-- Tabla de tramite inscripcion -->

<h3 *ngIf="tramite && documentos.length == 0" class="text-700">Sin documentos presentados</h3>
<h3 *ngIf="tramite != undefined && documentos.length > 0" class="mb-0 mt-2 text-700">Documentos Inscripción</h3>

<div *ngIf="documentos.length > 0">
  <div class="grid mt-2 mb-3">
    <div class="col-12">
      <p-table [value]="documentos" responsiveLayout="scroll" [tableStyle]="{ 'min-width': '50rem', 'width': '100%' }"
        styleClass="p-datatable p-component p-datatable-sm" [paginator]="true" [rows]="4">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Documento Tipo</th>
            <th>Cantidad</th>
            <th>Documento Estado</th>
            <th>Fecha Límite</th>
            <th>Fecha Registro</th>
            <th style="width: 10%;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documentoItem let-columns="columns">
          <tr
            [ngClass]="{'table-row-select': documentoItem.documentoInscripcioncarreraId === documento?.documentoInscripcioncarreraId || 0 }">
            <td>{{ documentoItem.nombreDocumentoTipo | titlecase }}</td>
            <td>{{ documentoItem.cantidad }}</td>
            <td>
              <p-tag [value]="documentoItem.nombreDocumentoEstado"
                [severity]="getColorDocumentoEstado(documentoItem)"></p-tag>
            </td>
            <td>{{ documentoItem.fechaLimitedeEntrega | date:'dd/MM/yyyy' }}</td>
            <td>{{ documentoItem.fechaRegistro | date:'dd/MM/yyyy' }}</td>
            <td style="text-align: center;">
              <p-button (onClick)="getOperaciones(documentoItem)" icon="fa-solid fa-search"
                styleClass="p-button-rounded" class="mr-1">
              </p-button>
              <p-button (onClick)="editarDocumento(documentoItem)" icon="fa-solid fa-pencil"
                styleClass="p-button-rounded">
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- Tabla de operaciones -->
<div *ngIf="operaciones.length > 0">
  <h3 class="text-700">Operaciones Realizadas</h3>
  <div class="grid mt-2">
    <div class="col-12">
      <p-table [value]="operaciones" [tableStyle]="{ 'min-width': '50rem', 'width': '100%' }"
        styleClass="p-datatable p-component p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 7%;">Nº</th>
            <th>Operación</th>
            <th>Funcionario</th>
            <th>Fecha Operación</th>
            <th>Descripción</th>
            <th style="width: 5%;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-operacionItem let-columns="columns">
          <tr
            [ngClass]="{'table-row-select': operacionItem.documentoOperacionId === operacion?.documentoOperacionId || 0 }">
            <td>{{ operacionItem.documentoOperacionId }}</td>
            <td>{{ operacionItem.nombreDocumentoOperacionTipo }}</td>
            <td>{{ operacionItem.nombreFuncionario}}</td>
            <td>{{ operacionItem.fechaOperacion | date:'dd/MM/yyyy' }}</td>
            <td>{{ operacionItem.descripcion }}</td>
            <td style="text-align: center;">
              <p-button (onClick)="getOperacion(operacionItem)" icon="fa-solid fa-search" styleClass="p-button-rounded">
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- Formulario de documentos -->
<p-dialog *ngIf="documento" header="Modificar Documentos" [(visible)]="visibleDocumentoUpdate"
  [style]="{width: '85vw', height :'100vh'}">
  <app-documento-form [isUpdated]="true"></app-documento-form>
</p-dialog>

<!-- Formulario de operaciones -->
<p-dialog *ngIf="documento && operacion" header="Operacion" [(visible)]="visibleOperacion"
  [style]="{width: '85vw', height :'100vh'}">
  <app-operacion-view [documento]="documento" [operacion]="operacion"></app-operacion-view>
</p-dialog>
