.perfil-foto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    border-radius: 60%;
}

.nya {
    background-color: black;
}


:host {
    ::ng-deep .p-inputtext {
        width: 25rem;

    }
}