<div *ngIf="documentos.length > 0">
  <div class="grid mt-2 mb-3">
    <div class="col-12">
      <p-table [value]="documentos" responsiveLayout="scroll" [tableStyle]="{ 'min-width': '50rem', 'width': '100%' }"
        styleClass="p-datatable p-component p-datatable-sm" [paginator]="true" [rows]="7">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Nombre del documento</th>
            <th>Cantidad</th>
            <th>Estado</th>
            <th>Fecha Registro</th>
            <th>Fecha Límite</th>
            <th style="width: 10%;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documentoItem let-columns="columns">
          <tr
            [ngClass]="{'table-row-select': documentoItem.documentoInscripcioncarreraId === documento?.documentoInscripcioncarreraId || 0 }">
            <td>{{ documentoItem.nombreDocumentoTipo | titlecase }}</td>
            <td>{{ documentoItem.cantidad }} de {{documentoItem.cantidadRequerida}}</td>
            <td>
              <p-tag [value]="documentoItem.nombreDocumentoEstado"
                [severity]="getColorDocumentoEstado(documentoItem)"></p-tag>
            </td>
            <td>{{ documentoItem.fechaRegistro | date:'dd/MM/yyyy' }}</td>
            <td>{{ documentoItem.fechaLimitedeEntrega | date:'dd/MM/yyyy' }}</td>
            <td style="text-align: center;">
              <p-button (onClick)="setDocumentoSeleccionado(documentoItem)" [disabled]="!canViewOperacion"
                icon="fa-solid fa-list" styleClass="p-button-rounded" class="mr-1"
                title="Ver Operaciones del documento">
              </p-button>
              <p-button (onClick)="setDocumentoSeleccionado(documentoItem, true)" [disabled]="!canEditDocumento"
                icon="fa-solid fa-pencil" styleClass="p-button-rounded" title="Modificar Documento">
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
